html{
    font-size: 62.5%;
    color: white;
    font-family: Lato, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.6rem;
}

body{
    margin: 0;
}

body *{
    box-sizing: border-box;
}

.god{
    position: relative;
    display: flex;
    flex-direction: column;

    padding-top: 100rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgb(0, 9, 25);

    letter-spacing: 0.25rem;

    z-index: 1000;
}

.upper{
    text-transform: uppercase;
}

.a_links{
    text-decoration: none;
    color: white;
}

.a_links_2{
    text-decoration: none;
    color: black;
}

.a_links_hover:hover .a_links{
    border-bottom: solid rgb(90, 219, 114) 2px;
    transform: translatey(1px);
}

.a_links_2:hover{
    text-decoration: underline 2px black; 
}

/* header layer 1 ////////////////////////////////////////////// */
.top_header {
    display: flex;
    justify-content: space-between;

    height: fit-content;
    width: 100%;
    padding: 0 8rem;
}

.language {
    display: flex;
    gap: 1rem;
}

.language_logo{
    display: flex;
    align-items: center;
}

.language_logo>img {
    height: 1.3rem;
    width: 1.3rem;
}

.language_dropdown {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;
}

.language_dropdown>img {
    width: 1.5rem;
    height: 1.5rem;
}

.top_header_contents{
    display: flex;
    gap: 3.5rem;
    height: 4rem;
    padding: 1.2rem 0;
}

.top_header_content{
    font-size: 1.2rem;
}

/* header layer 2 ////////////////////////////////// */
.header_contents_and_logo{
    display: flex;
    gap: 7.8rem;
    
    padding: 0 8rem;
}

.header_logo{
    display: flex;
    align-items: center;

    width: fit-content;
    height: fit-content;
    padding: 2.4rem 0;
}

.search_and_contents{
    display: flex;
    justify-content: right;
    gap: 8rem;

    width: 100%;
}

.search{
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    max-width: 433px;
    margin: 2.4rem 0;
}

.search>a{
    position: absolute;
    right: 0;
}

.search>a>img{
    width: 2.3rem;
    margin-right: 1rem;
}

.search_2_and_more{
    display: none;
}

.search_2{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4.4rem;
    height: 4.4rem;
}

.search_2>img{
    width: 2.3rem;
}

.more>img{
    width: 2.3rem;

    margin-left: 2.4rem;
}

#search{
    height: 100%;
    width: 100%;
    padding: 1rem 4rem 1rem 2.4rem;

    background-color: rgba(35, 52, 66, 0);
    border: solid 2px rgb(31, 82, 63);

    font-size: 1.5rem;
    color: white;
    
    border-radius: 0.4rem;
}

#search:focus{
    outline: none;

    border-color: #2D655D;
}

.drop_down_focus{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: 0;

    overflow: hidden;

    color: black;
    background-color: white;

    box-shadow: 1rem 0rem 1rem rgb(192, 192, 192);
}

.search:focus .drop_down_focus{
    height: auto;
}

.header_contents{
    display: flex;
    align-items: center;

    font-size: 1.2rem;
}

.header_content{
    display: flex;
    align-items: center;

    height: 100%;
    padding-left: 3.7rem;
}

.header_content>.a_links{
    height: fit-content;
}

/* drop downs ///////////////// */
.drop_down{
    z-index: 100;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: 0;

    overflow: hidden;

    color: black;
    background-color: white;

    box-shadow: 1rem 0rem 1rem rgb(192, 192, 192);
}

.header_content:hover .drop_down{
    position: fixed;
    top: 13.1rem;

    height: auto;
}

.products_header{
    display: flex;

    padding: 2.5rem calc(50vw - 72rem);

    font-size: 1.5rem;
}

.products_header>.topics{
    padding: 1.5rem 2.2rem;

    font-weight: 700;
    text-transform: uppercase;
}

.products_header>.first_topic{
    background-color: rgb(243, 242, 239);

    text-decoration: underline 2px rgb(90, 219, 114);
}

.products_header>.topics:hover{
    background-color: rgb(243, 242, 239);
}

.products_contents{
    display: flex;
    justify-content: space-between;

    padding: 0 calc(50vw - 72rem) 2.5rem;
}

.cart_and_green_link{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.5rem;
    
    max-width: 34.3rem;
}

/* cart things ////////////////////////////////////////////// */
.cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 34.3rem;

    box-shadow: 0px 0px 10px 10px rgb(228, 228, 228);

    text-decoration: none;
    color: black;

    letter-spacing: normal;

    border-radius: 0.5rem;
}

.cart *{
    transition: 0.2s ease-in-out;
}

.cart_img{
    overflow: hidden;

    height: 23rem;
}

.cart_img>img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.topics{
    display: flex;
    flex-direction: column;

    padding: 2.4rem 2.4rem 0;

    line-height: 2.4rem;
}

.topic_1{
    font-weight: 600;
    font-size: 2.1rem;
}

.topic_2{
    font-size: 1.6rem;

    margin-top: 0.8rem;
}

.topic_3{
    font-size: 2.1rem;

    color: rgb(99, 224, 96);
}

.topic_4{
    font-size: 1.3rem;

    color: white;
}

.topic_5{
    font-size: 1.8rem;

    letter-spacing: 4.5px;

    color: white;
}

.cart_arrow{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    padding: 0 2.4rem 1rem;
}

.cart_arrow>img{
    width: 4rem;
}

.cart:hover .cart_img>img{
    scale: 1.1;
}

.cart:hover .cart_arrow{
    padding-right: 1rem;
}

/* green button //////////////////////////////////////// */

.green_link{
    position: relative;

    display: flex;
    align-items: center;

    width: fit-content;

    padding: 0.5rem;

    background-color: rgb(99, 224, 121);
    color: black;
}

.green_link_arrow{
    display: flex;
    align-items: center;
}

.green_link_arrow>img{
    width: 4rem;
}

.first_arrow{
    position: absolute;
    display: none;

    left: 2rem;
}

.green_link_topic{
    padding: 2rem 0;
    padding-left: 2rem;
    padding-right: 8rem;

    font-size: 1.5rem;

    transition: 0.5s ease;
}

.secend_arrow{
    position: absolute;
    display: block;

    right: 2rem;
}

.green_link:hover .green_link_topic{
    padding-left: 8rem;
    padding-right: 2rem;
}

.green_link:hover .first_arrow {
    display: block;
}

.green_link:hover .secend_arrow {
    display: none;
}

/* products name /////////////////////////////////////////// */

.by_format , .by_aplication , .feature_cart{
display: flex;
flex-direction: column;


padding: 0 4rem;
margin: 0 1rem;
max-width: 34.5rem;

border-right: solid 1px rgb(247, 246, 244);
letter-spacing: normal;
}

.product_title{
    padding: 2rem 0;

    font-size: 1.8rem;

    text-transform: uppercase;
}

.items{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 2rem;

    padding: 2rem 0;

    font-size: 2rem;
    font-weight: 600;
}

.items>img{
    width: 2.5rem;
}

.cart_feature_itself{
    max-width: 29.1rem;
}

.aplications_carts{
    display: flex;
    gap: 3.2rem;

    padding: 2.5rem calc(50vw - 72rem);
}

.cart_2{
    max-width: 26rem;
}

.cart_img_2{
    width: 6rem;
    height: 6rem;

    margin: 2rem 2.2rem 1rem;
}

.cart_img_3{
    display: flex;
    justify-content: space-between;

    margin: 2rem 2.2rem 1rem;
    height: auto;
}

.cart_img_3>img{
    width: 6rem;
    height: 6rem;
}

.cart_3{
    width: 16.6%;
    max-width: 21.3rem;
}

.img_and_topics_in_carts{
    display: flex;
    flex-direction: column;
}

.company{
    padding-right: 0;
    padding-left: 0;
    margin-right: calc(50vw - 72rem);
    margin-left: calc(50vw - 72rem);
}

/* footer //////////////////////////////////////////////////////////////////////// */

.Email_and_Q{
    display: flex;
    justify-content: space-between;

    padding: 4.2rem calc(50vw - 72rem);

    line-height: 1.5;

    background: rgb(70,89,255);
    background: linear-gradient(59deg, rgba(70,89,255,1) 0%, rgba(28,48,187,1) 10%, rgba(0,16,130,1) 20%, rgba(0,0,0,1) 71%);
}

.Email , .Q{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Email_box{
    height: 4rem;

    margin: 0;
}

.email_topics{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.green_link_topic_2{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer_P_A_R{
    padding: 4.8rem calc(50vw - 72rem);

    border: solid 1px #1E4B39;
    border-right: none;
    border-left: none;

    background-color: #000919;

    line-height: 1.5;
}

.P_A_R_topic{
    margin-bottom: 4.8rem;
}

.P_A_R_things_2{
    display: none;

    width: 100%;
    padding: 1.6rem 2.4rem;

    color: #46E079;
    font-size: 1.8rem;

    border-bottom: solid 2px #1E4B39;
}

.P_A_R_things_2>img{
    width: 2.5rem;
}

.P_A_R_logo{
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    width: 100%;
}

.P_A_R_things{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    width: 25%;
}

.logo_and_paragraph{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    width: 25%;
}

.footer_logo>img{
    width: 11.8rem;
}

.last_footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.2rem;

    padding: 3.2rem calc(50vw - 72rem) 6.4rem;

    background-color: #000919;
}

.circles{
    display: flex;
    gap: 0.8rem;
}

.circles>a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4.8rem;
    height: 4.8rem;

    border: solid 1px #1E4B39;
    border-radius: 50%;
}

.circles>a:hover{
    border: solid 1px rgb(90, 219, 114);
}

.circles img{
    width: 2.3rem;
    height: 2rem;
}

.opacity_30{
    opacity: 0.3;
}

.last_footer_links{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.last_links{
    display: flex;
    gap: 0.8rem;
}

.xp_power{
    color: white;
    font-size: 1.4rem;
}

.glow_links{
    text-decoration: none;

    color: white;
    font-size: 1.4rem;
}

.glow_links:hover{
    color: rgb(90, 219, 114);
}

.language_2{
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    height: 4.8rem;

    border: solid 2px #1E4B39;
    border-radius: 2.4rem;
}

.language_2:hover{
    border: solid 2px rgb(90, 219, 114);
}

@media only screen and (max-width: 1535px){
    .products_header{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .products_contents{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .aplications_carts{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .company{
        margin: 0;
        width: 100%;
    }

    .footer{
        padding: 0 5rem;
    }

    .Email_and_Q , .footer_P_A_R , .last_footer{
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

@media only screen and (max-width: 1160px){
    .top_header , .search_and_contents{
        display: none;
    }
    
    .header_contents_and_logo{
        justify-content: space-between;
        gap: 0;
    }

    .search_2_and_more{
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1025px){

    .header_contents_and_logo{
        padding-right: 3.2rem;
        padding-left: 3.2rem;
    }

    .Email_and_Q{
        flex-direction: column;
    }

    .green_link_2{
        width: 100%;
    }

    .P_A_R_logo{
        flex-direction: column;
    }

    .P_A_R_things{
        display: none;
    }

    .logo_and_paragraph{
        width: 100%;
    }

    .footer_P_A_R{
        padding-left: 0rem;
        padding-right: 0rem;        
    } 

    .P_A_R_things_2{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .logo_and_paragraph{
        padding-top: 7.2rem;
    }

    .Email_and_Q , .last_footer , .logo_and_paragraph , .P_A_R_topic{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

}